<div class="container">
  <div class="search-bar">
    <%= form_tag sentences_path, method: :get, class: 'form-inline' do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control lightest-gray-font",
        placeholder: "incumplimiento de contrato"
      %>
      <br>
      <%= submit_tag 'Buscar', class: 'btn btn-primary curvier btn-xtra-padding' %>
    <% end %>
  </div>
  <div class="sentences">
    <ul>
      <% @sentences.each do |sentence| %>
      <li>
        <div class="sentence">
          <div class="title">
            <%= link_to sentence_path(sentence), class: 'blue-header font-18' do %>
              Sentencia del <%= sentence.capitalize_everything(sentence.institution) %> del <%= sentence.spanish_date %> [<%= sentence.parts.first.first_name %> vs. <%= sentence.parts.last.first_name %>]
            <% end %>
            <div class="description">
              <p class='font-13'><%= sentence.category %></p>

            </div>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>
