<div class="navbar-space"></div>
<div class="container min-height-75vh">
  <div class="results">
    <div class="search-bar text-center">
      <%= form_tag sentences_path, method: :get, class: 'form-inline' do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
        placeholder: "incumplimiento de contrato"
        %>
        <br>
        <%= submit_tag 'Buscar', class: 'btn btn-flat' %>
        <% end %>
      </div>
      <% if @sentences == [] %>
        <p style='height:70vh'>No hemos encontrado ninguna sentencia con esa información. Por favor intente de nuevo.</p>
      <% else %>
        <ul class='sentence-list'>
          <% @sentences.each do |sentence| %>
            <li class="sentence">
              <div class="title">

              <%# if sentence.name_displayed.include?(@query) %>
                <%# s_name_words = @sentence.name_displayed.split(" ").map do %>
                <%# s_name_words.each %>

                <%= link_to sentence_path(sentence), class: 'blue-header font-18desktop-14mobile' do %>


                  <%= sentence.name_displayed %>
                <% end %>
              </div>
              <div class="description">
                <p>Cantidad de veces que aparece <strong><%= @query %></strong> dentro de la sentencia: <%= @query_qty[sentence] %></p>
                <% if !@query.nil? && !@query.blank? %>
                  <% selected = sentence.bodies.select do |body| %>
                    <% (body.content.include?(@query)) && (body.category != 'Head_1') && (body.content != ('Notifíquese' || 'Notifíquese.' || 'NOTIFÍQUESE')) %>
                  <% end %>
                  <% if selected == [] %>
                    <p class='font-13 wrap-elipsis'>
                      <%= sentence.bodies.second.content.first(450) %>
                    </p>
                  <% else %>
                    <p class='font-13 wrap-elipsis'>
                      <% highlighted = selected.first.content.split.map do |word| %>
                        <% if word == (@query || @query.upcase || @query.capitalize || @query.downcase || "#{@query}," || "#{@query}.") %>
                           <span class='highlight'><%= word %></span>
                        <% else %>
                          <%= word %>
                        <% end %>
                      <% end %>
                      <%= raw highlighted.join(" ").first(450) %>
                    </p>
                  <% end %>
                <% else %>
                  <p class='font-13 wrap-elipsis'>
                    <%= "#{sentence.bodies.second.content.first(450)}..." %>
                  </p>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
        <% end %>
    </div>
  </div>





