<div class="navbar-space"></div>
<div class="container">
  <div class="results">
    <div class="search-bar text-center">
      <%= form_tag sentences_path, method: :get, class: 'form-inline' do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "incumplimiento de contrato"
        %>
        <br>
        <%= submit_tag 'Buscar', class: 'btn btn-flat' %>
      <% end %>
    </div>
    <div class="sentences">
      <ul>
        <% @sentences.each do |sentence| %>
        <li>
          <div class="sentence">
            <div class="title">
              <%= link_to sentence_path(sentence), class: 'blue-header font-18' do %>
                Sentencia del <%= sentence.capitalize_everything(sentence.institution) %> del <%= sentence.spanish_date %> [<%= sentence.parts.first.first_name %> vs. <%= sentence.parts.last.first_name %>]
              <% end %>
              <div class="description">
               <% selected = sentence.bodies.select do |body| %>
                  <% body.content.include?(@query) %>
                <% end %>
                <p class='font-13 wrap-elipsis'>
                  <%= selected.first.content.first(600) %>
                </p>
                <%# end %>
              </div>
            </div>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
