  <% if controller_name == 'pages' && action_name == 'home' %>
    <div class="navbar navbar-expand-sm navbar-light home-menu">
    <ul class="navbar-nav list-inline">
      <li class="nav-item list-inline-item">
        <%= link_to "Inicio", root_path, class: 'small-text gray-font' %>
      </li>
      <li class='list-inline-item'><p> | </p></li>
      <li class='nav-item list-inline-item'>
        <%= link_to "Sobre Nosotros", about_us_path, class: 'small-text gray-font' %>
      </li>
    </ul>
</div>
  <% else %>
    <div class="navbar navbar-expand-sm navbar-light justify-content-right">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= cl_image_tag 'dto5gjux9rwrrlzr7san' %>
    <% end %>
      <ul class="navbar-nav list-inline">
        <li class="nav-item list-inline-item">
          <%= link_to "Inicio", root_path, class: 'small-text gray-font' %>
        </li>
        <li class='nav-item list-inline-item'><p> | </p></li>
        <li class='nav-item list-inline-item'>
          <%= link_to "Sobre Nosotros", about_us_path, class: 'small-text gray-font' %>
        </li>
      </ul>
    </div>
  <% end %>


