<div class="navbar-space"></div>
<div class="about-us-wrapper">
  <div class="popularis-info container flex margin-auto">

     <div class="team-pic">
       <%= cl_image_tag "samples/imagecon-group", alt: 'Popularis' %>
     </div>
     <div class="team-description">
       <h2 class='text-center title-about-us margin-auto'>¿QUÉ ES POPULARIS?</h2>
       <br>
       <p class='medium-font'><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore unde, maiores vero quibusdam, facere architecto enim error quasi iste eligendi accusantium consequuntur, laudantium repellendus id quod doloremque laboriosam dolorem, earum.</span>
         <span>Repellat voluptatem laborum, voluptates odit! Excepturi voluptatum minima delectus, magni dolor harum mollitia voluptas nihil sed odio recusandae aliquam nulla libero assumenda, in soluta eius non, consequuntur ipsa sapiente ut!</span>
       </p>
    </div>
 </div>
 <div class="team-info gray-bg">
  <div class="intro text-center container">
    <h2 class="title-about-us">CONÓCENOS</h2>
    <br>
    <p class='team-desc'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus voluptatem repellat velit impedit inventore cupiditate pariatur reprehenderit fuga perferendis voluptates ex esse assumenda delectus repellendus, error ratione, aliquam illum veniam!</p>
  </div>

   <div class="container members">
     <div class="row text-center">
      <% @members.each do |member| %>
       <div class="col-xs-12 col-md-6 col-lg-4 member">
         <%= cl_image_tag("#{ member['Imagen']}",aspect_ratio:"1:1", background:"#262c35", gravity:"face:center", width:1000, crop:"fill", class:'rounded-circle', alt: "#{member['Nombre']} #{member['Apellido']}") %>
         <h4 class='margin-10'><%= member['Nombre'] %> <%= member['Apellido'] %></h4>
         <p><%= member['Rol'] %></p>
       </div>
      <% end %>
     </div>
   </div>

 </div>
</div>
