<div class="navbar-space"></div>

<div class="container height-70vh">
  <h1>Feedbacks</h1>
  <br>

  <div class="tables flex">
    <div class="content-table">
      <h2>Por contenido:</h2>
      <table>
         <tr>
           <th>Justo lo que buscaba</th>
           <th>No era lo que buscaba</th>
         </tr>
         <tr>
           <td><%= @positive.count %></td>
           <td><%= @negative.count %></td>
         </tr>
      </table>
    </div>

    <div class="sentence-table">
      <h2>Por sentencia:</h2>
      <table>
       <tr>
         <th>sentencia_id</th>
         <!-- <th>nombre de sentencia</th> -->
         <th>contenido</th>
         <th>query</th>
       </tr>
       <% @feedbacks.each do |feedback| %>
         <tr>
           <td><%= feedback.sentence.id %></td>
           <!-- <td><%#= feedback.sentence.name %></td> -->
           <td><%= feedback.content %></td>
           <td><%= feedback.query %></td>
         </tr>
       <% end %>
      </table>
    </div>
  </div>
  <br><br>
  <p>* Para visualizar cual sentencia lleva ese id, acceder a http://popularis.herokuapp.com/sentences/:id</p>

  <%#  require 'rake' %>
  <%= link_to 'Actualizar base de datos', updating_db_path, class: 'btn btn-flat' %>
</div>


